.icon {
    width: 25px;
    height: 25px;
    padding-top: 2px;
    margin-bottom: -4px;
    margin-right: 0.5em;
    display: inline-block;
}

.download-badge {
    height: 40px !important;
}

.p-img {
    max-width: 1600px;
}

.img {  
    width: 100%;
    height: auto;
}
